/* src/components/FormModal.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 90%;
    max-width: 500px;
    max-height: 350px;
    overflow: auto;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
  }
  
  .modal input,
  .modal textarea {
    width: 97%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal textarea {
    resize: vertical;
  }
  
  .modal button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal button[type="submit"] {
    background: #4caf50;
    color: white;
  }
  
  .modal button[type="button"] {
    background: #f44336;
    color: white;
  }
  

  .container_dto_hors {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .container_list_dto_hors {
  
  }
  
  .new_dto_hors {
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #ebebeb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dto_hors_info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .contianer_dto_hors_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
  
  .contianer_dto_hors_info_button {
    display: flex;
    justify-content: flex-end;
  }
  
  .dto_hors_info_info {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  
  .dto_hors_info_info > strong {
  
  }

  .lavel_abierto, .label_hours_open, .label_hours_close, .label_data_room {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.lavel_abierto > input {
  border: none;
  display: flex;
  color: #686b6e;
  padding: 10px;
  width: 65px;
  margin: 3px;
}
